body {
background-color: fff;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1 {
color: #000;
}
.btn-default 
{
	background-color: #333333;
	color: #ffffff;
}
.btn-default:disabled
{
	color:#000;
}
.dishhead
{
	padding:10px;
	color: #fff;
}

#ingredientBottom
{
	border-top: 5px;
	border-color: #000;
}

#right 
{
	background-color: #5a1f00;
	color: #fff;
	padding-bottom: 20px;
}


#iPrice
{
	padding-bottom: 10px;
	border-bottom: 5px;
	border-color: #000;
}

#remove{
	height: 20px;
	width: 20px;
	padding: 0px 2px 2px 2px;
}

#header{
	padding-left: 40px;
}